<html>
	<head>
		<title>Astrology</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		 <link rel="stylesheet" href="css/bootstrap.min.css" />
		
		<link rel="stylesheet" href="less/mystyles.less">
		<link rel="stylesheet" type="text/css" href="css/mystyles.css"> 
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Pragati Yog</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav nav-pills">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li class="dropdown">
							<a href="astrologyandspirituality.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Astrology and Spirituallity <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Spiritual Meanings of the Planets</a></li>
								<li><a href="#">The Nava-Grahas or Nine Planets</a></li>
								<li><a href="#">12 Houses in Horoscope</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Pearl</a></li>
								<li><a href="#">Blue Shappier</a></li>
								<li><a href="#">Yellow Shappier</a></li>
								<li><a href="#">Emerald</a></li>
								<li><a href="#">Ruby</a></li>
								<li><a href="#">Diamond</a></li>
								<li><a href="#">Red Coral</a></li>
							</ul>
						</li>
						<li><a href="#">Kundli</a></li>
					</ul>
					<div class="text-right">
                        <a  class="sidemenu" href="#">About Us</a>
						<a  class="sidemenu" href="#">Contact Us</a>
						<p>Mob : 7798193178</p>
						<p>E-Mail Id : pragateeyog@gmail.com</p>
					</div>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
						</ol>
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="img/slid1.jpg" width="100%" alt="...">
								<div class="carousel-caption">
									<h2>Pragati Yog</h2>
								</div>
							</div>
							<div class="item">
								<img src="img/slid2.jpg" width="100%" alt="...">
								<div class="carousel-caption">
									<h2>Pragati Yog</h2>
								</div>
							</div>
							<div class="item">
								<img src="img/slid3.jpg" width="100%" alt="...">
								<div class="carousel-caption">
									<h2>Pragati Yog</h2>
								</div>
							</div>
                            <div class="item">
								<img src="img/slid4.jpg" width="100%" alt="...">
								<div class="carousel-caption">
									<h2>Pragati Yog</h2>
								</div>
							</div>
                            <div class="item">
								<img src="img/slid5.jpg" width="100%" alt="...">
								<div class="carousel-caption">
									<h2>Pragati Yog</h2>
								</div>
							</div>
							<div class="item">
								<img src="img/slid6.jpg" width="100%" alt="...">
								<div class="carousel-caption">
									<h2>Pragati Yog</h2>
								</div>
							</div>
						</div>
						<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
				<div class="col-md-12">
					<div class="section">
						<div class="row">
							<div class="col-md-3">
								<div>
									<ul role="menu">
										<li><a href="#">The 12 Houses in Horoscope Chart and Signification</a></li>
										<li class="divider"></li>
										<li><a href="#">The Nava-Grahas or Nine Planets</a></li>
										<li class="divider"></li>
										<li><a href="#">Spiritual Meanings of the Planets</a></li>
										<li class="divider"></li>
										<li><a href="#">Astrology and Spirituallity</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-9">
								<div class="pages">
									<h2>Charges of Property Sale Transactions:</h2>
									<p>Our Service Charges are:</p>
									<div class="table-responsive">
										<table class="table table-striped">
											<th colspan="2">Sale Transactions</th>
											<tbody>
												<tr>
													<td>New Property Residential / Commercial</td>
													<td>2% from buyer</td>
												</tr>
												<tr>
													<td>Resale Property Residential / Commercial</td>
													<td>2% from seller, 2% from buyer</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="foot">
			<div class="container">
                    <div="row">
                    <p class="col-md-4" ></p>
                    <p class="col-md-4"></p>
				    <div class="col-md-4">
                        <p>Copyright &copy;pragatiyog</p>
                        <p>Pragati Yog</p>
                        <p>Design By :<a class="sidemenu" href="http://www.wtouch.in">Web Touch</a></p>
                    </div>
                    </div>
			</div>
		</footer>
	</body>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</html>
