<html>
<head>
		<title>Pragati Yog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		 <link rel="stylesheet" href="css/bootstrap.min.css" />
		
		<!--link rel="stylesheet" href="less/mystyles.less"-->
		<link rel="stylesheet" type="text/css" href="less/mystyles1.css"> 
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
      <header class="head">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="img/images.jpg"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Astrology Spirituallity</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Spiritual Meanings of the Planets</a></li>
            <li><a href="#">The Nava-Grahas or Nine Planets</a></li>
            <li><a href="#">12 Houses in Horoscope</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products</a>
          <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Pearl</a></li>
								<li><a href="#">Blue Shappier</a></li>
								<li><a href="#">Yellow Shappier</a></li>
								<li><a href="#">Emerald</a></li>
								<li><a href="#">Ruby</a></li>
								<li><a href="#">Diamond</a></li>
								<li><a href="#">Red Coral</a></li>
          </ul>
        </li>
        <li><a href="#">Kundli</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    <div class="address">
            <p>Mob : 7798193178</p>
            <p>E-Mail Id : pragateeyog@gmail.com</p>
    </div>
    </div><!-- /.navbar-collapse -->
    </header>
  </div><!-- /.container-fluid -->
</nav>
    <div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
						</ol>
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="img/slid1.jpg" width="100%" alt="...">
								<div class="carousel-caption">
									<h2>Pragati Yog</h2>
								</div>
							</div>
							<div class="item">
								<img src="img/slid2.jpg" width="100%" alt="...">
								<div class="carousel-caption">
									<h2>Pragati Yog</h2>
								</div>
							</div>
							<div class="item">
								<img src="img/slid3.jpg" width="100%" alt="...">
								<div class="carousel-caption">
									<h2>Pragati Yog</h2>
								</div>
							</div>
                            <div class="item">
								<img src="img/slid4.jpg" width="100%" alt="...">
								<div class="carousel-caption">
									<h2>Pragati Yog</h2>
								</div>
							</div>
                            <div class="item">
								<img src="img/slid5.jpg" width="100%" alt="...">
								<div class="carousel-caption">
									<h2>Pragati Yog</h2>
								</div>
							</div>
							<div class="item">
								<img src="img/slid6.jpg" width="100%" alt="...">
								<div class="carousel-caption">
									<h2>Pragati Yog</h2>
								</div>
							</div>
						</div>
						<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
                </div>
                </div>
    <div class="container">
					<div class="info">
						<div class="row">
							<div class="col-md-4">
								<div class="featured">
									<h3>Neptune</h3>
									<p>Neptune “secondary sun” of divine wisdom, receives emanations of divine wisdom from sun/moon higher self.</p>
									<button class="btn btn-primary">Read More</button>
								</div>
							</div>
							<div class="col-md-4">
                                <div class="astrology">
								<h3 class="heading">Astrology and Spirituallity</h3>
								<ul role="menu">
									<li><a href="#">The 12 Houses in Horoscope Chart and Signification</a></li>
									<li><a href="#">The Nava-Grahas or Nine Planets</a></li>
									<li><a href="#">Spiritual Meanings of the Planets</a></li>
									<li><a href="#">Astrology and Spirituallity</a></li>
								</ul>
                                </div>
							</div>
							<div class="col-md-4">
								<div class="contact">
									<h3 class="heading">Contact us</h3>
									<p><span class="yellow">Mob :</span>7798193178</p>
									<p><span class="yellow">Website : </span>pragateeyog.com</p>
									<p><span class="yellow">E-Mail Id : </span>pragateeyog@gmail.com</p>
								</div>
							</div>
						</div>
					</div>
				</div>
                <div class="container">
                    <footer class="foot">
                        <div class="row">
                        <p class="col-md-4" ></p>
                        <p class="col-md-4"></p>
                        <div class="col-md-2">
                            <div class="copy">
                            <p>Copyright&copy;pragatiyog</p>
                            <p>Design By :<a class="yellow" href="http://www.wtouch.in"><i>Web Touch</i></a></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <p class="yellow">Pragati Yog</p>
                        </div>
                    </footer>
                </div>
</body>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</html>
